.container {
  display: flex;
}

.counter,
.content {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 20px;
  color: rgb(31, 31, 31);
}

.counter {
  font-size: 2rem;
  font-weight: lighter;
  background: rgb(31, 31, 31);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.light {
  background: #efeeee;
  background-size: cover;
  color: rgb(29, 29, 29);
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/bg-beach.jpg");
  background-size: cover;
}

.light.bg-image {
  background: linear-gradient(
      rgba(199, 199, 199, 0.6),
      rgba(199, 199, 199, 0.6)
    ),
    url("../../assets/bg-beach.jpg");
  background-size: cover;
  color: rgb(29, 29, 29);
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-header {
  font-size: 3rem;
  font-weight: bold;
}

.subheader {
  font-size: 2rem;
  font-weight: lighter;
  margin: 40px 0;
}

.time-counted {
  font-size: 2rem;
  font-weight: 600;
}
